input {
  width: 325px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid blue;
  border: none;
}
.result {
  font-size: 30px;
  color: rgb(106, 20, 97);
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 310px;
  height: 40px;
  margin: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
}
.container {
  width: 340px;
  border: 1px solid black;
  background-color:#060047 ;
  height: 390px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 15%;
  left: 36%;
}
h1{
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
  background-color:#3C84AB;
  color: white;
  border: none;
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}
button:hover {
  background-color: #205E61;
}
